<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Tic-Tac-Toe: Proyecto 3 - Vista Resultado Partida</title>
</head>
<body>
    <!-- Contenedor Principal-->
    <div class="main-container height-vh">
        <!-- Contedor Con las tres Columnas-->
        <div class="content-container-justify">
            <div class="result-container">
                <div class="info-result">
                    <h1 id="info-result">!El PLAYER 1 HA GANADO!</h1>
                </div>
                <div class="gif-container">
                    <img id="img-giff" src="../img/hp-win.gif" class="giff-winner" alt="GIFF GANADOR O PERDEDOR">
                </div>
                <div class="btn-inicio-container">
                    <a href="../index.html"><button class="btn-inicio">VOLVER INICIO</button></a>
                </div>
            </div>
        </div>
    </div>
    <script src="js/main.js"></script>
</body>
</html>