<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Tic-Tac-Toe: Proyecto 3 - Vista Tablero</title>
</head>
<body>
    <div id="root" class="main-container height-vh">
        <!-- Contedor Con las tres Columnas-->
        <div class="game-content-container">
            <!-- Sección Información De Los Jugadores -->
            <div class="section-game-players-container">
                <div class="game-player-container">
                    <div class="game-player-image active-play">
                        <img id="img-p1" class="img-player" src="../img/player_vs_player_icon.png" alt="Imagen Jugador 1">
                    </div>
                    <div class="game-player-data">
                        <div class="name-player">
                            <p>Player 1</p>
                        </div>
                        <div class="play-number">
                            <p>Fichas: 3</p>
                        </div>
                    </div>
                </div>
                <div id="second-player" class="game-player-container">
                    <div id="order-1" class="game-player-image">
                        <img id="img-p2" class="img-player" src="../img/player_vs_player_icon.png" alt="Imagen Jugador 2">
                    </div>
                    <div class="game-player-data">
                        <div class="name-player">
                            <p>Player 1</p>
                        </div>
                        <div class="play-number">
                            <p>Fichas: 3</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sección Tablero -->
            <div class="tablero-container">
                <div class="tablero">
                    <div class="fila-tablero">
                        <div id="column-1" class="columna-tablero">
                            <img src="../img/ficha-rayo-hp.png" alt="Imagen Ficha Tablero" class="img-ficha">
                        </div>
                        <div id="column-2" class="columna-tablero">
                            <img src="../img/ficha-mago-tenebroso.png" alt="Imagen Ficha Tablero" class="img-ficha">
                        </div>
                        <div id="column-3" class="columna-tablero">
                            <img src="../img/ficha-mago-tenebroso.png" alt="Imagen Ficha Tablero" class="img-ficha">
                        </div>
                    </div>
                    <div class="fila-tablero">
                        <div id="column-4" class="columna-tablero">
                            <img src="../img/ficha-mago-tenebroso.png" alt="Imagen Ficha Tablero" class="img-ficha">
                        </div>
                        <div id="column-5" class="columna-tablero">
                            <img src="../img/ficha-rayo-hp.png" alt="Imagen Ficha Tablero" class="img-ficha">
                        </div>
                        <div id="column-6" class="columna-tablero">
                            <img src="../img/ficha-mago-tenebroso.png" alt="Imagen Ficha Tablero" class="img-ficha">
                        </div>
                    </div>
                    <div class="fila-tablero">
                        <div id="column-7" class="columna-tablero">
                            <img src="../img/ficha-mago-tenebroso.png" alt="Imagen Ficha Tablero" class="img-ficha">
                        </div>
                        <div id="column-8" class="columna-tablero">
                            <img src="../img/ficha-mago-tenebroso.png" alt="Imagen Ficha Tablero" class="img-ficha">
                        </div>
                        <div id="column-9" class="columna-tablero">
                            <img src="../img/ficha-rayo-hp.png" alt="Imagen Ficha Tablero" class="img-ficha">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/main.js"></script>
</body>
</html>